body{
  margin: 0;
  color: #3BACB6;
}
span{
  display: block;
  padding-left: 3%;
  text-align: center;
}
.about{
  display:inline;

}
.about>a{
  padding-right: 25px;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #3BACB6;
  text-decoration: none;
}
.img1{
  position: relative;
  left: 45%;
  top:6%;
  height: auto;
  width: 20%;
}
.img2{
position: absolute;
bottom: 30%;
left : 9%;
height: auto;
width: 20%;

}
.img3{
  display: block;    /*** to center anything make it block and then set the left and right margin to auto***/
  height: 200px;
  width: 200px;
  border-radius: 50%;     /*** to make the border as circular***/
  position:relative;/***this makes the positioning easy by shifting them with reference to their original position***/
  margin: 50px auto;
}
#con1{
  background-color: #B3E8E5;
  width: auto;
  height: 660px;

}
.span1{
  font-family: 'Dancing Script', cursive;
  font-size: 3.9rem;
  padding-top: 7%;

}
.span2{
  font-family: 'Indie Flower', cursive;
  padding-top: 30px;
  font-size: 2.5rem;
  font-weight: bolder;
}
.span3{
  font-family: 'Pacifico', cursive;
  padding-top: 15px;
  font-size: 1rem;

}
.img4{
  display: block;    /*** to center anything make it block and then set the left and right margin to auto***/
  height: 200px;
  width: 200px;
  border-radius: 50%;     /*** to make the border as circular***/
  position:relative;/***this makes the positioning easy by shifting them with reference to their original position***/
  margin: 0 auto;
}
.span4{
  padding-top: 20px;
  font-size: 2.0rem;
  font-weight: bolder;
}
.span5{
  padding-top: 20px;
  font-size: 2rem;
  color: #16003B;
  font-weight: bolder;

}
#con2{
  background-color: #EEB0B0;
  width: auto;
  height: auto;
}
#con2>p{
  color: black;
  font-size: 1rem;
  font-family:sans-serif;
}
.image{
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 100px 10px auto;
}
#con2>h3{
  font-size: 1.5rem;
  font-family:sans-serif;
  font-weight: 500;
}
.skill-row {
  margin: 0 auto ;
  text-align: left;
  line-height: 1.5;
  color: black;
  font-size: 1.25rem;
}
hr{
  border-width: 5px;
  border-style: dotted;
  border-bottom: none;
  width: 10%;
  margin: 25px auto 0;
  color: #E3FCBF;
}
.skill-div{
  display: block;
  width: 50%;
  margin: 100px auto 0 auto;
}
#con3{
  background-color: #947EC3;
  width: auto;
  height: auto;
}
.p1{
  text-align: center;
  color: black;
  font-size: 1.5rem;

}
.foot{
  background-color: #B667F1;
  width: auto;
  height: 150px;
}
.linkedin{
  display: block;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
  margin: 10px 20px;
  text-align: center;
  color: #DEB6AB;
}
.insta{
  display: block;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
  margin: 10px 20px;
  text-align: center;
  color: #DEB6AB;
}
.foot>h3{
  color: white;
  display: block;
  text-align: center;
  padding-top: 30px;
  font-weight: lighter;
}
a:hover {
  color: #EAF6F6;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 14px;
  font-family: Courier New;
  color: #ebebeb;
  font-size: 22px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  margin: 25px auto;
  text-align: center;
  width: 200px;
  display: block;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
